.searchform {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #999;
  width: 90%;
  margin: 10px;
  padding: 10px;
}

input,
label,
select {
  margin: 2px;
}

@media (max-width: );
